*, *:before, *:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  height: 500px;
  background-color: #4F709C;
}

main {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.container {
  height: 300px;
  width: 200px;
  padding: 5px;
  background-color: white;
  border-radius: 3px;

  display: flex;
  flex-direction: column;
}

.answer {
  text-align: right;
  font-size: 2.5rem;
}

.output {
  text-align: right;
  font-size: 1.5rem;
}

hr {
  border: 1px solid #D8C4B6;
}

.row {
  flex: 1;

  display: flex;
}

button { 
  flex: 1;
  border-radius: 3px;
  border: 1px solid white;
  cursor: pointer;
}

button:active {
  border: 1px solid #D8C4B6;
  font-size: 1rem;
}

#zero {
  flex: 2;
}

.operations,
.total {
  background-color: #D8C4B6;
}