html {
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    background: rgb(36, 36, 36);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main {
    margin-top: 80px;
    margin-bottom: 80px;
    padding: 10px;
    border: 2px solid white;
    border-radius: 15px;
}

.title {
    color: white;
    text-transform: uppercase;
    text-align: center;
}

.title h1 {
    margin: 0;
}

.title,
.calc-container {
    margin: 15px;
}

.upper {
    margin-bottom: 10px;
}

.upper input[type=text] {
    max-width: 300px;
    font-size: 2rem;
    letter-spacing: 1.5px;
    line-height: 1.2;
    text-align: right;
    transition: all 0.22s;
    outline: none;
    background: white;
}

.upper input[type=text]:focus {
    transform: scale(1.15);
}

.row {
    display: flex;
}

.button {
    flex: 1;
    height: 70px;
    font-size: 1.6rem;
    border: 2px solid white;
    border-radius: 5px;
}

.button:active {
    background: rgb(138, 133, 133);
}